
@mainTheme: #D68600;

@htmlBg: #445566;

@bodyFont: #565656;
@bodyBg: #eee;

@linkColor: #006BD6;
@preBg: #eef;

@navBg: #665944;
@navFont: #eee;
@navActiveHover: #1576D6;

@externalsColor: #445566;

@postTitle: #445566;

@selectionBg: #212121;
@selectionFont: #fff;

// Frameless     <http://framelessgrid.com/>
::selection {
  background: @selectionBg;
  color: @selectionFont;
}
::-moz-selection {
  background: @selectionBg;
  color: @selectionFont;
}

img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(255,0,0, 0.62);
}