<section class="articles">
  {{#each articles}}
    <article class="post">
      <header>
        <h2>{{ meta.title}}
        <span class="sub-head">
            {{#format_date}}{{ meta.date }}{{/format_date}}
        </span>
        </h2>
      </header>
    
      <section class="content">
        {{{ body }}}
      </section>
    
      <section class="comments">
      </section>
    </article>
  {{/each}}
</section>


